@model BonusMvcStock.Models.Entity.Urunler
@{
    ViewBag.Title = "YeniUrun";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("YeniUrun", "Urun", FormMethod.Post))
{
@*<form method="post">*@
    <h2>Yeni Ürün Ekleme</h2>
    <br />
    <label>Ürün Adı</label>
    @Html.TextBoxFor(x => x.UrunAd, new { @class = "form-control" })
    <br />
    <label>Ürün Marka Adı</label>
    @Html.TextBoxFor(x => x.UrunMarka, new { @class = "form-control" })
    <br />
    <label>Ürün Stok</label>
    @Html.TextBoxFor(x => x.UrunStok, new { @class = "form-control" })
    <br />
    <label>Ürün Alış Fiyatı</label>
    @Html.TextBoxFor(x => x.UrunAlisFiyati, new { @class = "form-control" })
    <br />
    <label>Ürün Satış Fiyatı</label>
    @Html.TextBoxFor(x => x.UrunSatisFiyati, new { @class = "form-control" })
    <br />
    <label>Ürün Kategori Adı</label>
    @Html.DropDownListFor(x => x.Kategoriler.Id, (List<SelectListItem>)ViewBag.kategoridegeri, "Kategori Seçiniz", new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Kaydet</button>
    <a href="/Urun/Index/" class="btn btn-success">Geri Dön</a>
    <br />
    }